body{
    margin: 0;
    background-color: #0f1515;
}
.container .row {
    font-size: xx-large;
    text-align: center;
    margin-top: 5%;
}

.container .row h1 {
    text-align: center;
    color: crimson;
}
.text{
    color: white;
}
#hr{
    font-size: 100px;
    color: white;
}
.container .row #min{
    font-size: 100px;
    color: white;
}
.container .row #sec{
    font-size: 100px;
    color: white;
}

.container .row #count{
    font-size: 100px;
    color: white;
}

.action{
    text-align: center;
    margin-top: 20px;
}

.action #btn-start{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}
.action #btn-stop{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}
.action #btn-reset{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}